In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine(
    "mysql+pymysql://root:lydy@localhost/stock_portfolio"
)

In [3]:
q = lambda query: pd.read_sql(query, 
                              con = engine)
data_path = "../data/"
data_files = ["Portfolio.csv", 
              "Portfolio_prices.csv",
              "Dow_jones.csv",
              "NASDAQ.csv",
              "SP500.csv"]

In [4]:
dfs = [pd.read_csv(data_path + data_file) 
       for data_file in data_files]

In [5]:
sql_table_names = [data_file[:-4].lower() 
 for data_file in data_files]

for sql_table_name, df in zip (sql_table_names, dfs):
    df.columns = df.columns.str.lower()
    df.to_sql(name = sql_table_name,
              con = engine,
              if_exists = "replace",
              index = False)

In [6]:
q("SHOW TABLES")

  Tables_in_stock_portfolio
0                 dow_jones
1                    nasdaq
2                 portfolio
3          portfolio_prices
4                     sp500

In [7]:
q("DESC portfolio_prices")

      Field        Type Null Key Default Extra
0      date        text  YES        None
1    ticker        text  YES        None
2      open      double  YES        None
3      high      double  YES        None
4       low      double  YES        None
5     close      double  YES        None
6  adjusted      double  YES        None
7   returns      double  YES        None
8    volume  bigint(20)  YES        None

In [8]:
q("""
ALTER TABLE portfolio_prices
MODIFY date DATE NOT NULL,
MODIFY ticker CHAR(10) NOT NULL,
MODIFY open DOUBLE NOT NULL,
MODIFY high DOUBLE NOT NULL,
MODIFY low DOUBLE NOT NULL,
MODIFY close DOUBLE NOT NULL, 
MODIFY volume DOUBLE NOT NULL,
ADD CONSTRAINT pk_port_prices_date_ticker
    PRIMARY KEY (date, ticker)
""")

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [9]:
q("DESC portfolio")

      Field        Type Null Key Default Extra
0    ticker        text  YES        None
1  quantity  bigint(20)  YES        None
2    sector        text  YES        None
3     close      double  YES        None
4    weight      double  YES        None

In [11]:
q("""
ALTER TABLE portfolio
MODIFY ticker CHAR(10) NOT NULL,
MODIFY quantity DOUBLE NOT NULL,
MODIFY close DOUBLE NOT NULL,
ADD CONSTRAINT pk_port_ticker 
    PRIMARY KEY (ticker)
""")

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [12]:
q("""
ALTER TABLE portfolio
ADD CONSTRAINT fk_port_port_prices
    FOREIGN KEY (ticker)
    REFERENCES portfolio(ticker)
""")

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [13]:
q("DESC portfolio")

      Field      Type Null  Key Default Extra
0    ticker  char(10)   NO  PRI    None
1  quantity    double   NO         None
2    sector      text  YES         None
3     close    double   NO         None
4    weight    double  YES         None